<div>
        <h2>Filter</h2>
        <oj-list-view id="listview" on-selection-change="[[optionChange]]" aria-label="list to show selection features" 
    data="[[filter]]" selection="{{selectedItems}}"
        selection-required="false"
        
        selection-mode="none"
        item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('filterItem', true)]]">
    </oj-list-view>

    <script type="text/html" id="filterItem">
    <li data-bind="attr: {id: 'filter' + id}">
        <oj-checkboxset labelled-by="mainlabelid" on-change="[[$parent.optionChange]]"
            value="{{selected}}" >
          <oj-option value="selected"></oj-option>
        </oj-checkboxset>
        <oj-input-text style="max-width:90%" value="{{$data.line}}"></oj-input-text>
    </li>
    </script>

    <br/>
<oj-button on-oj-action="[[addFilter]]">+</oj-button>
<oj-button on-oj-action="[[deleteFilter]]">Delete</oj-button>


    </div>