<div>
    <h2>Settings</h2>
    <oj-label for="text-input">Server</oj-label>
    <oj-input-text id="server" value="{{server}}"></oj-input-text>
    <br/>
    <oj-label for="text-input">Username</oj-label>
    <oj-input-text id="username" value="{{username}}"></oj-input-text>
    <br/>
    <oj-label for="password">Password</oj-label>
    <oj-input-password id="password" value="{{password}}"></oj-input-password>
    <br />
    <oj-button id='button1' on-oj-action='[[saveClick]]'>Save</oj-button>
</div>