<div>
  <h2>Dashboard</h2>

  <script type="text/html" id="timer-template">
    
    <div class="oj-flex oj-sm-justify-content-space-between" >
      <div class="oj-flex-item">
    <oj-label for="text-input">Task</oj-label>
    
    
    <oj-combobox-one picker-attributes='{"style":"min-width:75%;"}' id="combobox1" options="{{$parent.suggestions}}" 
     style="max-width: 20em" value="{{timer.task}}">
    </oj-combobox-one>

  </div>

  <div class="oj-flex-item">

  </div>

  <div class="oj-flex-item " style="max-width:338px">
      <oj-label for="text-input">Timer</oj-label>
    <oj-input-text id="text-input" value="{{timer.timeshow}}" style="max-width:5em"></oj-input-text>

    <oj-button id='button3' on-oj-action='[[$parent.buttonClick]]' display='icons'>
        Start/Stop
    </oj-button>
    
    <oj-button class='oj-button-primary' id='commitWorklogButton' on-oj-action='[[$parent.commitWorklogClick]]' 
                   chroming='full'>
          <span slot="startIcon" class="oj-fwk-icon oj-fwk-icon-clock"></span>
          O
      </oj-button>
      <oj-menu-button id="menuButton">
          A
         
          <oj-menu  slot="menu" style="display:none" on-oj-action="[[$parent.deleteWorklog]]">
            <oj-option value="Delete">
              <span class="oj-fwk-icon" slot="startIcon"></span>Delete
            </oj-option>
          </oj-menu>
        </oj-menu-button>
  </div>
  </div>
  
    <div class="oj-flex">
      <div class="oj-flex-item">
          <oj-label for="text-input">Work Description</oj-label>
          <oj-input-text value="{{timer.wodesc}}" style="max-width:100%"></oj-input-text>
        </div>
  </div>
</script>

<div id="timers" data-bind="template:{name:'timer-template',foreach:timer,as:'timer'}">

</div>

<oj-button id='addTimerButton' on-oj-action='[[addTimerClick]]' display='icons'>
    +
</oj-button>


<oj-popup class="demo-popup" id="popup1"
    tail="none" position.my.horizontal="center" position.my.vertical="bottom"
    position.at.horizontal="center" position.at.vertical="bottom"
    position.of="window" position.offset.y="-10"
    modality="modal" 
    
    >
        <div class="demo-popup-body">
        <div class="demo-popup-header"><h5>The Gettysburg Address</h5></div>
        <div class="demo-popup-content">
            <p>Four score and seven years ago our fathers brought forth on this 
            continent, a new nation, conceived in Liberty, and dedicated to the 
            proposition that all men are created equal.</p>

            <p>Now we are engaged in a great civil war, testing whether that nation,
            or any nation so conceived and so dedicated, can long endure. We are
            met on a great battle-field of that war. We have come to dedicate a 
            portion of that field, as a final resting place for those who here 
            gave their lives that that nation might live. It is altogether 
            fitting and proper that we should do this.</p>

            <p>But, in a larger sense, we can not dedicate 
            -- we can not consecrate -- we can not hallow -- this ground. The 
            brave men, living and dead, who struggled here, have consecrated it,
            far above our poor power to add or detract. The world will little 
            note, nor long remember what we say here, but it can never forget 
            what they did here. It is for us the living, rather, to be 
            dedicated here to the unfinished work which they who fought here 
            have thus far so nobly advanced. It is rather for us to be here 
            dedicated to the great task remaining before us -- that from these 
            honored dead we take increased devotion to that cause for which 
            they gave the last full measure of devotion -- that we here highly 
            resolve that these dead shall not have died in vain -- that this 
            nation, under God, shall have a new birth of freedom -- and that 
            government of the people, by the people, for the people, shall not 
            perish from the earth.</p>

            Abraham Lincoln<br/>
            November 19, 1863
        </div>
        <div class="demo-popup-footer">
            
        </div>
        </div>    
    </oj-popup>

</div>
