<div>
    <h2>Projects</h2>
    
    
    <oj-list-view id="listview" aria-label="list to show selection features" 
    data="[[projects]]" selection="{{selectedItems}}"
        selection-required="false"
        on-selection-changed="[[handleSelectionChanged]]"
        selection-mode="single"
        item.renderer="[[oj.KnockoutTemplateUtils.getRenderer('projectItem', true)]]">
    </oj-list-view>

    <script type="text/html" id="projectItem">
    <li data-bind="attr: {id: 'project' + id}">
        <span data-bind="text: $data.key"></span></br>
        <span data-bind="text: $data.name"></span>
    </li>
    </script>
    

    

</div>